extends layout

block content
  #wrapper
    // Sidebar
    include sidebar.pug
    // Content Wrapper
    #content-wrapper.d-flex.flex-column
      // Main Content
      #content
        // Topbar
        include header.pug
        // Begin Page Content
        .container-fluid
          // Page Heading
          .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.h3.mb-0.text-gray-800 Select cell group:

          form#selection
            label(for='dataset-select') Choose a data set:
            select#dataset-select(name='datasetoption')
              option(value='') --Please choose an option--
              option(value='CD4') CD4+ T cells
              option(value='CD8') CD8+ T cells
              option(value='B') B cells
              option(value='Myeloid') Myeloid cells
              option(value='Stromal') Stromal cells
            label(for='sampletype-select',style="margin-left:10px;") Choose a sample type:
            select#sampletype-select(name='sampletypeoption')
            br
            label Markers input
            textarea#markers-input(rows="1", cols="10",style="margin-left:10px")
            input#submitbutton.SubmitButton(type="submit",name="SUBMITBUTTON",value="Submit",style="margin-left:10px")

          hr
          // Content Row
          .row
            // Area Chart
            .col-xl-6.col-lg-7
              .card.shadow.mb-4
                // Card Header - Dropdown
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                  h6.m-0.font-weight-bold Expression distribution
                // Card Body
                .card-body#imgBubblePlot(style="height: 600px;")
                  .lds-dual-ring.hidden.overlay#loader1
            .col-xl-6.col-lg-7
              .card.shadow.mb-4
                // Card Header - Dropdown
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                  h6.m-0.font-weight-bold Spearman correlation of markers' expression
                // Card Body
                .card-body#imgHeatmapPlot(style="height: 600px;")
                  .lds-dual-ring.hidden.overlay#loader2

        include footer.pug
        a.scroll-to-top.rounded(onClick="document.documentElement.scrollIntoView({ behavior: 'smooth' });")
          i.fas.fa-angle-up

  script(src='/GastricTME/javascripts/expression_query.js')
  script(src='/assets/vendor/bootstrap2/js/bootstrap.bundle.min.js')
  script(src='/assets/vendor/jquery-easing/jquery.easing.min.js')
  script(src='/GastricTME/javascripts/sb-admin-2.min.js')
