# Node.js dependencies
/node_modules/

# SENSITIVE - env
.env

# SENSITIVE - DB
# /conf

# SENSITIVE - CERTS
/ssl

# Public Assets
/public/DataDownload/*.rds
/Rplots.pdf

# System files
/**/.DS_Store
/.DS_Store
/public/.DS_Store
