extends layout

block content
  #wrapper
    // Sidebar
    include sidebar.pug
    // Content Wrapper
    #content-wrapper.d-flex.flex-column
      #content
        include header.pug
        // Topbar
        // Begin Page Content
        .container-fluid
          // Page Heading
          .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.h3.mb-0.text-gray-800 Select cell group:
          form#selection
            label(for='dataset-select') Cell type:
            select#dataset-select(name='datasetoption')
              option(value='') --Please choose an option--
              option(value='CD4') CD4+ T cells
              option(value='CD8') CD8+ T cells
              option(value='CAF') CAFs
              option(value='EPI') Epithelial
              option(value='MYD') Myeloid
              option(value='NK') NK cells
              option(value='BP') Other
            label(for='tissuetype-select',style="margin-left:10px;") Tissue type:
            select#tissuetype-select(name='tissuetypeoption')
            label(for='cancertype-select',style="margin-left:10px;") Cancer type:
            select#cancertype-select(name='cancertypeoption')
            input#submitbutton.SubmitButton(type="submit",name="SUBMITBUTTON",value="Submit",style="margin-left:10px;display:none;")
          hr
          // Content Row
          .row
            // Area Chart
            .col-xl-6.col-lg-7
              .card.shadow.mb-4
                // Card Header - Dropdown
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                  h6.m-0.font-weight-bold Cell State
                // Card Body
                .card-body#imgCellType(style="height: 600px;")
                  .lds-dual-ring.hidden.overlay#loader1
            .col-xl-6.col-lg-7
              .card.shadow.mb-4
                // Card Header - Dropdown
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                  h6.m-0.font-weight-bold Tissue Type
                // Card Body
                .card-body#imgTissueType(style="height: 600px;")
                  .lds-dual-ring.hidden.overlay#loader2
            // Pie Chart
          .row
            .col-xl-6.col-lg-5
              .card.shadow.mb-4
                // Card Header - Dropdown
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                  h6.m-0.font-weight-bold Cancer Type
                // Card Body
                .card-body#imgCancerType(style="height: 600px;")
                  .lds-dual-ring.hidden.overlay#loader3
          script(src='/GastricCancer/javascripts/embedding_query.js')

        include footer.pug
        a.scroll-to-top.rounded(onClick="document.documentElement.scrollIntoView({ behavior: 'smooth' });")
          i.fas.fa-angle-up

  script(src='/assets/vendor/bootstrap2/js/bootstrap.bundle.min.js')
  script(src='/assets/vendor/jquery-easing/jquery.easing.min.js')
  script(src='/GastricCancer/javascripts/sb-admin-2.min.js')

