extends layout

block content
  #wrapper
    // Sidebar
    include sidebar.jade
    #content-wrapper.d-flex.flex-column
      #content
        // Topbar
        include header.jade
        // Begin Page Content
        .container-fluid
          // Page Heading
          p
            h1.h3.mb-0.text-gray-800 DEGs
          br
          .row
            .col-xl-8.col-lg-5
              .card.shadow.mb-4.noar
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                  h6.m-0.font-weight-bold(style="text-transform: initial !important;") DEGs
                .card-body(style="height: 600px;")
                  table#tableDEGs
                    thead
                      td p_val
                      td avg_logFC
                      td pct1
                      td pct2
                      td p_val_adj
                      td cluster
                      td gene
                    tbody#tableDEGsBody
          br
          form
            label Gene selected
            input#gene-selected-input(type="text", readonly,style="margin-left:10px; margin-right:10px;background-color: #ccc;")
            input(type="submit", value="Submit")
          .row
            // Area Chart
            .col-xl-6.col-lg-7
              .card.shadow.mb-4
                // Card Header - Dropdown
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                  h6.m-0.font-weight-bold UMAP of gene expression
                // Card Body
                .card-body#imgFeaturePlot(style="min-height: 200px;")
                  .lds-dual-ring.hidden.overlay#loader1
            .col-xl-6.col-lg-7
              .card.shadow.mb-4
                // Card Header - Dropdown
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                  h6.m-0.font-weight-bold Distribution of gene expression
                // Card Body
                .card-body#imgViolin(style="min-height: 200px;")
                  .lds-dual-ring.hidden.overlay#loader2

        script(src='/BcellLC/javascripts/degs_query.js')
        include footer.jade
        a.scroll-to-top.rounded(onClick="document.documentElement.scrollIntoView({ behavior: 'smooth' });")
          i.fas.fa-angle-up
  script(src='/assets/vendor/jquery/jquery.min.js')
  script(src='/assets/vendor/jquery-easing/jquery.easing.min.js')
  script(src='/BcellLC/javascripts/sb-admin-2.min.js')
  link(rel="stylesheet",type="text/css",href="/assets/libs/datatables.net-dt/css/jquery.dataTables.css")
  script(type="text/javascript",charset="utf8",src="/assets/libs/datatables.net/js/jquery.dataTables.js ")

  //- script(type="text/javascript") $(document).ready(function(){$("#tableDEGs").DataTable();})
