footer.sticky-footer
  .container.my-auto
    .copyright.text-center.my-auto
      p
        a.mda-nav-logo(href="https://www.mdanderson.org/",target="_self")
          img(src="/assets/img/xmobilelogo.resize.png.pagespeed.ic.j92o1m7p2y.png", alt="The University of Texas MD Anderson Cancer Center", height = "100%")
      p.copyright
        | &copy; Copyright 
        strong
          span Linghua Wang's Lab @ MD Anderson Cancer Center
        | . All Rights Reserved
