extends layout

block content
  #wrapper
    // Sidebar
    include sidebar.pug
    #content-wrapper.d-flex.flex-column
      // Main Content
      #content
        // Topbar
        include header.pug
        // Begin Page Content
        .container-fluid
          // Page Heading
          p
            h1.h3.mb-0.text-gray-800 Embedding
          form#selection
            label(for='dataset-select') Choose a cell type or state:
            select#dataset-select(name='datasetoption')
              option(value='') --Please choose an option--
              option(value='CD4') CD4+ T cells
              option(value='CD8') CD8+ T cells
              option(value='Innate') Unconventional T cells
              option(value='Proliferative') Proliferative T cells
              option(value='Treg') Treg cells
              option(value='TFH') TFH cells
            label(for='tissuetype-select',style="margin-left:10px;") Choose a tissue type:
            select#tissuetype-select(name='tissuetypeoption')
            label(for='cancertype-select',style="margin-left:10px;") Choose a cancer type or organ site:
            select#cancertype-select(name='cancertypeoption')
            input#submitbutton.SubmitButton(type="submit",name="SUBMITBUTTON",value="Submit",style="margin-left:10px;display:none;")
          hr
          // Content Row
          .row
            // Area Chart
            .col-xl-6.col-lg-7
              .card.shadow.mb-4
                // Card Header - Dropdown
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                  h6.m-0.font-weight-bold Cell Type
                // Card Body
                .card-body#imgCellType(style="min-height: 200px;")
                  .lds-dual-ring.hidden.overlay#loader1
            .col-xl-6.col-lg-7
              .card.shadow.mb-4
                // Card Header - Dropdown
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                  h6.m-0.font-weight-bold Tissue Type
                // Card Body
                .card-body#imgTissueType(style="min-height: 200px;")
                  .lds-dual-ring.hidden.overlay#loader2
            // Pie Chart
          .row
            .col-xl-6.col-lg-5
              .card.shadow.mb-4
                // Card Header - Dropdown
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                  h6.m-0.font-weight-bold Cancer Type
                // Card Body
                .card-body#imgCancerType(style="min-height: 200px;")
                  .lds-dual-ring.hidden.overlay#loader3

          script(src='/TCM/javascripts/embedding_query.js')
        include footer.pug
        a.scroll-to-top.rounded(onClick="document.documentElement.scrollIntoView({ behavior: 'smooth' });")
          i.fas.fa-angle-up

  script(src='/assets/vendor/bootstrap2/js/bootstrap.bundle.min.js')
  script(src='/assets/vendor/jquery-easing/jquery.easing.min.js')
  script(src='/TCM/javascripts/sb-admin-2.min.js')
